// Branding
@import "brand";

// Mixins
@import "mixins";

// Components
@import "components/structure";
@import "components/typography";
@import "components/lists";
@import "components/forms";
@import "components/buttons";
@import "components/modal";

// Partials
@import "views/_header";
@import "views/_footer";

// Contents
@import "views/contents/home";
@import "views/contents/contact";
@import "views/contents/page";

// Contents Partials

// Posts
@import "views/posts/blog";
@import "views/posts/blog-post";

// Posts Partials
@import "views/posts/_blog-hero";
@import "views/posts/_blog-list";

// Utils
@import "views/utils/site-map";
@import "views/utils/404";

// Browsers
@import "browser/edge";
@import "browser/safari";

.hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}

.rotate-90 {
  transform: rotate(90deg);
}

img {
  max-width: 100%;
  background-size: cover;
  object-fit: cover;
}

.spacer-large {
  height: 142px;
}

@media only screen and (max-width: $mobile-breakpoint) {
  #top-spacer.spacer-large {
    display: none;
  }
}

.spacer-medium {
  height: 96px;

  @media only screen and (max-width: $mobile-breakpoint) {
    height: 32px;
  }
}

.blue-horizontal-line {
  display: inline-block;
  background-color: $color-itm-blue;
  height: 3px;
  width: 68px;
}
